<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Number Information</title>
  </head>
  <body>
    <h1>Hello!</h1>
	<p>Welcome to the <span>{{ appName }}</span> app.</p>
  {% if number %}
	<p>Your number was: {{ number }}</p>
	<p>{{ analysis }}</p>
  {% endif %}
	<form action="/" method="get">
	Enter a number to analyze: <input type="text" name="number" value="{{ number if number }}"/> <input type="submit" value="Submit"/>
	</form>
  </body>
</html>
